@media screen and (max-width: 479px)
    .notification-container-spec {
        left: 12px;
        bottom: -64px;
        width: 280px;
        padding: 10px;
        font-size: 10px;
        line-height: 2em;
    }

    @media screen and (max-width: 991px)
        .notification-container-spec {
            left: -24px;
        }

        .notification-container-spec {
            position: absolute;
            left: -40px;
            top: auto;
            right: auto;
            bottom: -56px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            overflow: hidden;
            width: auto;
            padding: 16px 30px 16px 20px;
            -webkit-box-pack: start;
            -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
            justify-content: flex-start;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            border-radius: 100px;
            background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
            background-image: linear-gradient(180deg, #fff, #fff);
            box-shadow: 0 0 10px 0 rgb(0 10 63 / 12%);
            color: #7d90b8;
            font-size: 14px;
            line-height: 1.8em;
        }

        .notification-text-spec {
            margin-left: 20px;
        }

        @media screen and (max-width: 479px)
            .dark-bold-text-spec {
                font-size: 12px;
            }
            .dark-bold-text-spec {
                color: #dc0f0f;
                font-size: 16px;
                font-weight: 500;
            }

            .verified-container-spec {
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -webkit-align-items: center;
                -ms-flex-align: center;
                align-items: center;
                color: #516eff;
            }

            .verified-check-spec {
                margin-right: 8px;
            }
